<main id="maincontent" class="webLayout">
  <div class="nhsuk-width-container">
    <div id="nhs-dynamic-page-title" aria-hidden="false" class="nhs-dynamic-page-title">
      <header>
        <h1 class="nhs-heading-01 nhs-greeting-block">Track your health</h1>
      </header>
      <header>
        <span class="nhsuk-caption-m">Record your decisions and keep track of your health information</span>
      </header>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full" role="list">
        <!-- Your symptoms -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a <%= link_to "Your symptoms",your_symptoms_path %></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Food intake -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a <%= link_to "Food intake", food_intake_path %></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Weight -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/health-records/upcoming-and-past-appointments" class="nhsuk-card__link">Weight</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Menstrual cycle -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/your-health/test-results-and-imaging-menu" class="nhsuk-card__link">Menstrual cycle</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Sleep cycle -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/your-health/test-results-and-imaging-menu" class="nhsuk-card__link">Sleep cycle</a>
              </div>
            </div>
          </div>
        </div>

        <!-- View your health patterns -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a <%= link_to "View your health patterns", view_your_health_patterns_path %></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>