<main id="maincontent" class="webLayout">
  <div class="nhsuk-width-container">
    <div id="nhs-dynamic-page-title" aria-hidden="false" class="nhs-dynamic-page-title">
      <header>
        <h1 class="nhs-heading-01 nhs-greeting-block">Your health</h1>
      </header>
      <header>
        <span class="nhsuk-caption-m">View your personal records and choices</span>
      </header>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full" role="list">
        <!-- GP Health Record -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/health-records/gp-medical-record" class="nhsuk-card__link">GP health record</a>
              </div>
            </div>
          </div>
        </div>

        <!-- View and Manage Prescriptions -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/prescriptions" class="nhsuk-card__link">View and manage prescriptions</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Upcoming and Past Appointments -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/health-records/upcoming-and-past-appointments" class="nhsuk-card__link">Upcoming and past appointments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Test Results and Imaging -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/your-health/test-results-and-imaging-menu" class="nhsuk-card__link">Test results and imaging</a>
              </div>
            </div>
          </div>
        </div>

        <!-- COVID-19 Vaccine Record -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/redirector?redirect_to=https%3A%2F%2Fwww.coronavirus-record.service.nhs.uk%2Fsso" class="nhsuk-card__link" target="_blank">COVID-19 vaccine record</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Your Health Choices -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a <%= link_to "Your health choices", your_health_choices_path %></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Care Plans -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/gp-medical-record/your-care-plans" class="nhsuk-card__link">Care plans</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

