<main id="maincontent" class="webLayout">
  <div class="nhsuk-width-container">
    <div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link"
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        <%= link_to "Back", your_health_path %></a>
    </div>


    <div id="nhs-dynamic-page-title" aria-hidden="false" class="nhs-dynamic-page-title">
      <header>
        <h1 class="nhs-heading-01 nhs-greeting-block">Your health choices</h1>
      </header>
      <header>
        <span class="nhsuk-caption-m">View your personal records and choices</span>
      </header>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full" role="list">
        <!-- Make your organ donation decision -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/health-records/gp-medical-record" class="nhsuk-card__link">Make your organ donation decision</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Choose about your health records data -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/prescriptions" class="nhsuk-card__link">Choose about your health records data</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Be part of health research -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/health-records/upcoming-and-past-appointments" class="nhsuk-card__link">Be part of health research</a>
              </div>
            </div>
          </div>
        </div>

        <!-- View links from your health team -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/your-health/test-results-and-imaging-menu" class="nhsuk-card__link">View links from your health team</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Track your health -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a <%= link_to "Track your health",track_your_health_path %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>