<main id="maincontent" class="webLayout">
  <div class="nhsuk-width-container">
    <div id="nhs-dynamic-page-title" aria-hidden="false" class="nhs-dynamic-page-title">
      <header>
        <h1 class="nhs-heading-01 nhs-greeting-block">Your health choices</h1>
      </header>
      <header>
        <span class="nhsuk-caption-m">View your personal records and choices</span>
      </header>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full" role="list">
        <!-- Make your organ donation decision -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/health-records/gp-medical-record" class="nhsuk-card__link">Make your organ donation decision</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Choose about your health records data -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/prescriptions" class="nhsuk-card__link">Choose about your health records data</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Be part of health research -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/health-records/upcoming-and-past-appointments" class="nhsuk-card__link">Be part of health research</a>
              </div>
            </div>
          </div>
        </div>

        <!-- View links from your health team -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a href="/patient/your-health/test-results-and-imaging-menu" class="nhsuk-card__link">View links from your health team</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Track your health -->
        <div class="nhsuk-card nhsuk-card--clickable" role="listitem">
          <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card__content-with-chevron">
            <div class="heading-container">
              <div class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                <a <%= link_to "Track your health",track_your_health_path %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>