.button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons and 'or' text */
  margin-bottom: 40px; /* Adjust this value to create space below the div */
}

.button-container > p.nhsuk-body {
  margin: 0 10px; /* Space around the 'or' text */
}

.button-container > button {
  margin: 0; /* Ensure no extra margin around buttons */
}

#nhs-dynamic-page-title header {
  margin-bottom: 10px; /* Minimal space between <h1> and <p> */
}

#nhs-dynamic-page-title h1 {
  margin: 0; /* Ensure no extra margin around <h1> */
}

#nhs-dynamic-page-title p {
  margin: 5px 0 40px; /* Minimal space above, normal space below the <p> */
}

.nhsuk-select {
  display: block;
  width: 100%; /* Full width if needed */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  padding: 0.5rem; /* Adjust padding as needed */
  font-size: 1rem; /* Adjust font size as needed */
  font-family:"Frutiger W01";font-style:normal;font-weight:400 /* Use NHS font family */
}





